body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  height:100%;
  overflow: hidden;
}

html {
  height:100%;
}

ol, ul {
  padding-left: 30px;
}

h6 {
  margin-right: 10px;
}

div.wrap {height:100%; overflow:hidden;}

.sm-font {
  font-size: 1vw;
}

.med-font {
  font-size: 1.2vw;
}

.lrg-font {
  font-size: 1.7vw;
}

.gold-icon-sm {
  position: relative;
  height: 1vw;
  margin-right: 0.2vw;
}

.gold-icon-lrg {
  position: relative;
  height: 1.1vw;
  margin-right: 0.2vw;
}

.shop-tile {
  position: relative;
  background: #18222B;
  border: none;
  float: left;
  width: 16.66%;
  height: 21vh;
  border-radius: 5px;
}

.clickable:after {
  content: "";
  background: #FFFFFF;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.8s
}

.clickable:active:after {
  padding: 0;
  margin: 0;
  opacity: 0.5;
  transition: 0s
}

.champ-pic {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.champ-tile-window {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.champ-name {
  position: absolute;
  left: 6%;
  bottom: 4%;
}

.champ-cost {
  position: absolute;
  right: 6%;
  bottom: 4%;
}

.left-btn-ui {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.left-btn-text {
  position: absolute;
  left: 7%;
  top: 13%;
  height: 100%;
  width: 100%;
  line-height: 1.3;
  color: #FFFFFF;
}

.buy-xp-btn {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0px;
  text-align: left;
}

.refresh-btn {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0px;
  text-align: left;
}

.display-bar {
  position: relative;
  margin-bottom: 0.5%;
  padding-top: 0.5%;
}

.level {
  color: #FFFFFF;
  margin-left: 20px;
}

.exp {
  color: #FFFFFF;
  margin-left: 1%;
}

.reroll-odds {
  color: #FFFFFF;
  position: relative;
  left: 7%;
}

.reroll-gem {
  position: relative;
  margin-bottom: 0.3%;
  margin-right: 0.1%;
  height: 1%;
  width: 1%;
}

.gold {
  color: #FFFFFF;
  position: fixed;
  transform: translate(-50%, 0);
  left: 50%;
}

.shop {
  background-color: #18222B;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  border-radius: 5px;
}

.champ-stage-tile {
  position: relative;
  border: none;
  width: 10%;
}

.champ-stage {
  position: fixed;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75%;
}
