body {
  font: 14px "Century Gothic", Futura, sans-serif;
  height:100%;
  overflow: hidden;
}

html {
  height:100%;
}

ol, ul {
  padding-left: 30px;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: Transparent;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a, a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

h1 {
  color: #FFFFFF;
  font-size: 3.5vw;
}
h6 {
  margin-right: 10px;
}

div.wrap {height:100%; overflow:hidden;}

.sm-font {
  color: #FFFFFF;
  font-size: 1vw;
}

.med-font {
  color: #FFFFFF;
  font-size: 1.2vw;
}

.lrg-font {
  color: #FFFFFF;
  font-size: 1.7vw;
}

.gold-icon-sm {
  position: relative;
  height: 1vw;
  margin-right: 0.2vw;
}

.gold-icon-lrg {
  position: relative;
  height: 1.1vw;
  margin-right: 0.2vw;
  margin-bottom: 0.8vh;
}

.trait-icon {
  position: relative;
  height: 2vw;
  margin-right: 0.2vw;
}

.background {
  position: absolute;
  width: 120%;
  height: 150%;
  bottom: 0px;
  z-index: -2;
  left: 69.5%;
  transform: translate(-65%, 0);
}

.title {
  color: #FFFFFF;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 3.5vw;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.logo {
  margin-left: 0.5%;
}

.github-link {
  position: absolute;
  color: #FFFFFF;
  top: 15%;
  right: 2.3%;
  font-size: 3.5vw;
}

.keybind-button {
  position: absolute;
  color: #FFFFFF;
  top: 5%;
  right: 2%;
  font-size: 3.5vw;
}

.logo:hover, .keybind-button:hover, .github-link:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}

.keybind-menu {
  position: absolute;
  left: 20%;
  top: 20%;
}

.keybind-menu-text {
  color: #FFFFFF;
  font-size: 1.5vw;
  position: absolute;
  right: -80%;
  bottom: 0%;
}

.key-listener-content {
  position: relative;
  text-align: center;
  margin: -10px 20px 0px 10px;
}

.key-function {
  margin-top: 0.6vh;
}

.key-name {
  font-size: 5vw;
  color: #FFFFFF;
  height: 13vh;
  width: 8vw;
  padding: 0px 8px 0px 8px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.2);
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.key-name:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake{
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shop-tile {
  position: relative;
  background: #18222B;
  border: none;
  float: left;
  width: 16.66%;
  height: 23vh;
  border-radius: 5px;
}

.clickable {
  cursor: pointer;
}

.clickable:after {
  content: "";
  background: #FFFFFF;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.8s
}

.clickable:active:after {
  padding: 0;
  margin: 0;
  opacity: 0.5;
  transition: 0s;
}

.champ-pic {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80%;
}

.champ-tile-window {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.champ-trait-text {
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  bottom: 24%;
  left: 3%;
  line-height: 1.5;
}

.champ-tile-text {
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  bottom: 19%;
}

.champ-name {
  position: absolute;
  left: 6%;
}

.champ-cost {
  position: absolute;
  right: 6%;
}

.left-btn-ui {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.left-btn-text {
  position: absolute;
  left: 7%;
  top: 13%;
  height: 100%;
  width: 100%;
  line-height: 1.3;
  color: #FFFFFF;
}

.buy-xp-btn {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0px;
  text-align: left;
  border: none;
}

.refresh-btn {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0px;
  text-align: left;
  border: none;
}

.display-bar {
  position: relative;
  margin-bottom: 0.5%;
  padding-top: 0.5%;
}

.left-ui-corner {
  position: absolute;
  bottom: -40%;
  left: 0px;
  height: 150%;
  width: 20%;
}

.level {
  color: #FFFFFF;
  position: relative;
  bottom: -26%;
  margin-left: 1%;
}

.exp {
  color: #FFFFFF;
  position: relative;
  margin-left: 5%;
}

.reroll-odds {
  color: #FFFFFF;
  position: absolute;
  width: 30%;
  top: 7%;
  left: 17%;
}

.reroll-odds-background {
  position: absolute;
  height: 6vh;
  width: 22vw;
  z-index: -1;
}

.reroll-content {
  position: absolute;
  margin-top: 0.6vh;
  margin-left: 2.5vw;
  width: 75%;
}

.reroll-gem {
  position: relative;
  margin-bottom: 1.8%;
  margin-right: 1%;
  height: 5%;
  width: 4%;
}

.gold-background {
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 120%;
  width: 10%;
}

.gold {
  color: #FFFFFF;
  font-size: 1.3vw;
  position: fixed;
  transform: translate(-50.5%, 0);
  left: 50.5%;
  top: 7.5%;
}

.gold-input {
  color: #FFFFFF;
  width: 3vw;
}

.level-input {
  color: #FFFFFF;
  width: 2vw;
}

.sell-champ-content {
  position: absolute;
  width: 83%;
  left: 17%;
  bottom: 0px;
  top: 20%;
}

.sell-champ-background {
  width: 100%;
  height: 100%;
}

.sell-champ-text {
  position: absolute;
  left: 30%;
  bottom: 25%;
  width: 40%;
  font-size: 2vw;
}

.shop {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 85%;
  border-radius: 5px;
  z-index: 0;
}

.champ-stage-tile {
  position: relative;
  border: none;
  width: 11.11%;
}

.empty-tile {
  position: absolute;
  background: Transparent;
  height: 12vh;
  width: 100%;
}

.glow-when-hovered img {

 opacity: 0.8;

 /*Reflection*/
 -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

.glow-when-hovered img:hover {
   opacity: 1;

   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));

   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

.stage-icon {
  position: absolute;
  width: 80%;
  height: 12vh;
  bottom: -12vh;
  border-radius: 50px;
}

.stage-star {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 3.5vh;
  width: 80%;
  bottom: -13vh;
}

.champ-stage {
  position: fixed;
  bottom: 48%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 71%;
}
